{%extends "base.html"%}
{%block contenido%}
<h1 class="text-center mb-4">{{pokemon.name}}</h1>

<div class="text-center">
    <img src="{{pokemon.sprites}}" alt="{{pokemon.name}}" class="img_fluid mb-3">
</div>

<p class="text-center">
    <strong>ID:</strong>{{pokemon.id}}
</p>

<p class="text-center">
    <strong>Altura:</strong> {{pokemon.heigt}} m
    <strong>Peso:</strong>{{pokemon.weight}}
</p>

<h3 class="mt-4">Hablidades:</h3>

<ul class="list-group">
    {%for ability in pokemon.abilities %}
    <li class="list-group-item bg-dark text-white border-light">
        {{ability}}
    </li>
</ul>{%endfor%}
<div class="text-center mt-4">
    
</div>
{%endblock%}
